/* Your code here */

body {
    background-color: #D2BB2A;
}

.songs, .playlists {
    width: 40%;
    height: 50px;
    background-Color : #C5EDF0;
    margin-Left : 0px;
    margin-bottom: 10px;
    text-indent: 10px;
    font-weight: bold;
    font-size: 17px;
}

.images {
    float: left;
}

.playerParts {
    padding-bottom: 20px;
}
